body{
    width: 100%;
}

.finger-section img{
    width: 100%;
    object-fit: contain;
}

.main-list{
    max-height: 300px;
    border-bottom: solid 1px #000;
    margin-bottom: 16px;
}

.tableFixHead th {
    position: sticky;
    top: 0;
}