body{
    background-color: #f0f0f0;
    width: 100% !important;
}
.nowrap{
    white-space: nowrap;
}

.table-content-centered th {
    white-space: nowrap;
    text-align: center;
}

.fill-image{
    width: 100%;
    object-fit: cover;
}

.vertical-text{
    text-orientation: mixed;
    writing-mode: vertical-lr;
}